h1 {
  color: olivedrab;
}

.nav {
  float: left;
  margin: 10px 15px 0 0;
  li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    &.last {
      margin: 0;
    }
    a {
      font-size: 19px;
      text-decoration: none;
      line-height: normal;
      color: #000000;
    }
  }
}